
h1, h2{
    text-align: center;

}

h3{
    text-align: center;
    margin-left:20px;
    margin-right: 20px;
}
body{
    background-image: url(images.jpg);
    font-family: Georgia;
	background-size:100%;
	color: rgb(4, 7, 8);
	text-shadow: 4px 4px 4px rgba(110, 71, 201, 0.438);
	text-align: center;
   
}

#all{
    background-color: #ffffff5e;
    border-radius: 1%;

}

/* Navigation Buttons*/
#back{
	text-align: center;	
	border-radius: 20px;
    border-color: rgba(106, 4, 207, 0.815);
    font-size: 20px;
    color: aliceblue;
}

button{
	padding: 5px 17px;
	font-size: medium;
	background-color: rgb(228, 240, 239);
    font-family: Georgia;
	font-weight: 600;
	transition: transform 1s;
	border-radius: 20px;
	border: 2px solid rgb(12, 11, 11);
	box-shadow: 2px 2px 2px rgba(6, 9, 14, 0.829);
	text-shadow: 2px 2px 2px rgba(7, 6, 8, 0.705);
}
button:hover{
	background-color: rgba(0, 119, 255, 0.671);
	color: white;
}
button:active{
    background-color: rgba(0, 102, 255, 0.486);
}
/*Link colors*/
a:link{
	color:rgb(8, 4, 10);
    text-shadow: 4px 4px 4px rgba(10, 13, 19, 0.404);
}
a:visited{
	color:rgba(9, 5, 12, 0.37);
    text-shadow: 2px 2px 2px rgba(2, 5, 8, 0.397);
}

#EGW{
    font-size: large;
	font-family: Georgia;
    text-shadow: 4px 4px 4px rgba(40, 65, 99, 0.726);
    color: black;
}
  
  /* For width 400px and larger: */
  @media only screen and (max-width: 600px) {
    body {
      background-image: url('mobile4.jfif');
      background-size: 600px 1200px;
    }
  }