body{
    background-image: linear-gradient(to bottom right, rgb(173, 23, 219), rgb(32, 252, 252));
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

#chapters{
    text-align: center;
    background-color: #ffffff8a;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

