h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background-image: url('pic.jpg');
    background-size: cover;
    text-align: center;
}
#all{
    background-color: #ffffff71;
    border-radius: 1%;

}

a:link{
    color:rgb(133, 10, 150);
}
a:active{
    color:blueviolet;
}

  
  /* For width 400px and larger: */
  @media only screen and (max-width: 600px) {
    body {
      background-image: url('pic2.jpg');
        background-size: cover;
    }
  }
